workspace/src/skydio-state/scripts/sim2-0-us-east-prod_token.txt
workspace/src/skydio-state/scripts/sim3key.txt
workspace/src/skydio-state/scripts/sim2token.txt
workspace/src/skydio-state/scripts/sim3token.txt
workspace/src/skydio-state/scripts/sim4token.txt
workspace/src/skydio-state/scripts/sim5token.txt
workspace/src/skydio-state-udp/scripts/sim4token.txt
